.moo-switch {width:70px; background:#ced4da; border:1px solid #adadad; border-radius:4px; overflow:hidden; position:relative;}
.moo-switch input {display:none;}
.moo-switch label {display:block; width:100%; height:30px; line-height:30px; margin:0; /*transition: all 1s ease;*/ cursor:pointer;
/*	background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(230,230,230,0.28) 20%, rgba(230,230,230,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(230,230,230,0.28) 20%,rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(230,230,230,0.28) 20%,rgba(230,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#e6e6e6',GradientType=0 );*/
}
.moo-switch .moo-switch-toggle {
	content:'';
	display:block;
	width:20px;
	height:100%;
	background:#fff;
	/*background:rgba(255, 0, 255, 0.5);*/
	position:absolute;
	z-index:1;
	border-radius:4px;
	/*border-radius:0 4px 4px 0;*/
	/*border:1px solid #adadad;*/
	/*margin:-1px;*/
}

/* CHECKED */
.moo-switch input:checked + label {background:lightgreen;}
.moo-switch input:checked + label:before {}

.moo-switch input:checked + label .moo-switch-toggle {/*background:red;*/ position:absolute; right:0; transition:right 1s linear; /*border-radius:4px 0 0 4px;*/}

/* LABELS */
.moo-switch input + label:before,
.moo-switch input + label:after {display:block; position:absolute; z-index:2; transition:all 300ms ease;}
.moo-switch input + label:before {content:'ON'; left:10px;}
.moo-switch input + label:after {content:'OFF'; right:10px;}

/* SHOW/HIDE */
.moo-switch input + label:before {opacity:0;}
.moo-switch input:checked + label:before {opacity:1;}
.moo-switch input:checked + label:after {opacity:0;}
