/*
Toggle Switchy
Version: 1.0
Adam Culpepper
https://github.com/adamculpepper/toggle-switchy
*/

/* CORE ------------------------------------------------------------ */
.toggle-switchy {display:inline-block; overflow:hidden; width:70px; background:#ced4da; border:1px solid rgba(0, 0, 0, 0.1); border-radius:4px; position:relative;}
.toggle-switchy input {display:none;}
.toggle-switchy label {display:block; width:100%; height:30px; line-height:30px; margin:0; cursor:pointer;
/*	background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(230,230,230,0.28) 20%, rgba(230,230,230,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(230,230,230,0.28) 20%,rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(230,230,230,0.28) 20%,rgba(230,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#e6e6e6',GradientType=0 );*/
}
.toggle-switchy .toggle {
	content:'';
	display:block;
	height:100%;
	background:#fff;
	/*background:rgba(255, 0, 255, 0.5);*/
	position:absolute;
	z-index:3;
	margin-left:0;
	border-radius:4px;
	/*border-radius:0 4px 4px 0;*/
	/*border:1px solid #adadad;*/
}

.toggle-switchy label,
.toggle-switchy input + label:before,
.toggle-switchy input + label:after,
.toggle-switchy .toggle {transition:all 200ms linear;}
/* CORE ------------------------------------------------------------ */


/* CHECKED */
.toggle-switchy input:checked + label .toggle {margin-left:50px;}

/* DISABLED */
.toggle-switchy input[disabled] + label {opacity:0.5;}

/* LABELS */
.toggle-switchy input + label:before,
.toggle-switchy input + label:after {display:block; position:absolute; z-index:2;}
.toggle-switchy input + label:before {content:'ON'; left:10px;}
.toggle-switchy input + label:after {content:'OFF'; right:10px;}

/* SHOW/HIDE */
.toggle-switchy input + label:before {opacity:0;}
.toggle-switchy input:checked + label:before {opacity:1;}
.toggle-switchy input:checked + label:after {opacity:0;}

/* CUSTOMIZATIONS */
.toggle-switchy {width:70px;}
.toggle-switchy .toggle {width:20px;}
.toggle-switchy input:checked + label .toggle {margin-left:50px;} /* .toggle-switchy width minus .toggle width */
.toggle-switchy input:checked + label {background:lightgreen;}