@import url('https://fonts.googleapis.com/css?family=Open+Sans|Montserrat:400,600,700,900&display=swap');

html, body {height:100%;}
body {font-family:'Open Sans';}
h1 {font-family:'Montserrat'; font-weight:700; font-size:3rem; letter-spacing:1px;}
a {transition:background 200ms linear;}
a:hover {text-decoration:none;}

header .btn.btn-primary {background-color:rgba(255, 255, 255, 0.40); border:0; transition:all 200ms linear;}
header .btn.btn-primary:hover,
header .btn.btn-primary:focus {background-color:rgba(255, 255, 255, 0.20);}

/* Content Styles */
header, footer {background:#7654C4;}
header, header a,
footer, footer a {color:#fff;}
header a, footer a {display:inline-flex; align-items:center; justify-content:center; padding:5px 10px; background:rgba(255, 255, 255, 0.10);}
header a:hover, footer a:hover {color:#fff; background:rgba(255, 255, 255, 0.20);}

footer {font-size:25px;}
footer > div > div {align-items:center; justify-content:center;}

/* Sticky Footer */
body {display:flex; flex-direction:column;}
#content {flex:1 0 auto;}
footer {flex-shrink:0;}
